 /* @import "tailwindcss";
 @theme {
  --font-eb:"EB Garamond", serif;
} */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif; 
}

/* font  */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.eb-garamond {
  font-family: "EB Garamond", serif;
 
}


.bg-gradient1{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/banner.png');
}
